body {
  background: url(../../media/backgrounds/Vinylvideo8.gif) repeat fixed 100%;
  overflow: hidden;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: cover;
  backdrop-filter: blur(2px);
  user-select: none;
}
/* HEADER */
header {
  box-sizing: border-box;
  margin: 0;
  padding: 2px 0 0 12px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  z-index: 9999;
  margin-top: 0;
}
header a {
  text-decoration: none;
  color: inherit;
}
header.sticky {
  transition: 0.6s;
  z-index: 4;
  padding: 5px 100px;
  background: #fff;
}
header .logo {
  position: relative;
  font-weight: 700px;
  color: thistle;
  text-decoration: none;
  font-size: 2.6rem;
  font-family: "Meddon", cursive;
  transition: 0.6s;
}
header ul {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  color: #d4af37;
  font-family: "Graduate", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header ul li a:hover {
  text-shadow: 2px 0px 10px whitesmoke;
}
header.sticky .logo,
header.sticky ul li a {
  color: #856a13;
}
header.sticky ul li a:hover {
  color: rgb(0, 0, 0);
  text-shadow: 2px 0px 10px #8c6c02;
}
/*HEADER END*/

/* SOME ALBUM SUGGESTIONS */
.one {
  height: 570px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: bgslides 20s ease-in-out infinite;
  background-image: url(1.jpg);
}

.slider-p {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  align-content: space-between;
}

@keyframes bgslides {
  0% {
    background-image: url(../../media/pics/carousel/adele-poster.png);
  }
  25% {
    background-image: url(../../media/pics/carousel/djcat.png);
  }
  50% {
    background-image: url(../../media/pics/carousel/TSposter2.png);
  }
  75% {
    background-image: url(../../media/pics/carousel/hot.png);
  }
  100% {
    background-image: url(../../media/pics/carousel/adele-poster.png);
  }
}

/* SOME ALBUM SUGGESTIONS END */

/* NEW RELEASES */
.container {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 0px;
  grid-template-areas: ".";
  margin-top: 25px;
  /*BOX THINGS*/
  backdrop-filter: blur(14px) saturate(19%);
  -webkit-backdrop-filter: blur(14px) saturate(19%);
  background-color: rgba(230, 230, 230, 0.038);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /*BOX THINGS END*/
}

.label {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 3rem;
  margin: 10px 10px 10px 10px;
  height: 90px;
  /*BOX THINGS*/
  backdrop-filter: blur(14px) saturate(19%);
  -webkit-backdrop-filter: blur(14px) saturate(19%);
  background-color: rgba(230, 230, 230, 0.038);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /*BOX THINGS END*/
}

.label p {
  font-family: "Poiret One", cursive;
  color: #876f20;
  font-weight: 900;
  letter-spacing: 2.4px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*BOX THINGS*/
  backdrop-filter: blur(14px) saturate(19%);
  -webkit-backdrop-filter: blur(140px) saturate(19%);
  background-color: rgba(230, 230, 230, 0.038);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /*BOX THINGS END*/
}
.block {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 500px;
  height: 350px;
  position: relative;
  height: max-content;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 22s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card:hover {
  transition: 0.9s;
  height: max-content;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(220, 20, 60, 0);
  border-radius: 20px;
  clip-path: circle(120px at center);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .circle:before {
  background-image: linear-gradient(
    142deg,
    rgb(60, 60, 60) 0%,
    #f9f9f92e 59%,
    #5b7250 96%
  );

  clip-path: circle(250px at left);
  opacity: 1;
  visibility: visible;
  filter: blur(10px);
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  pointer-events: none;
  transition: 0.5s;
  z-index: 99;
}
.card:hover img {
  left: 65%;
  height: 350px;
  width: 350px;
  margin-top: 5px;
}
.card .content {
  position: relative;
  width: 25%;
  padding: 20px 20px 20px 20px;
  transition: 0.5s;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
  text-shadow: -3px 1px 7px rgba(254, 254, 254, 0.729);
}
.card:hover h2 {
  text-shadow: none;
}
.card:hover .content h3 {
  text-shadow: -3px 1px 7px rgba(0, 0, 0, 0.729);
}
.card:hover .content p {
  text-shadow: -3px 1px 7px rgba(0, 0, 0, 0.729);
}
.card .content h2 {
  font-family: "Exo", sans-serif;
  color: rgba(0, 0, 0, 0.811);
  text-transform: none;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 10px;
}
.card .content p {
  font-family: "Asul", sans-serif;
  color: rgb(160, 160, 160);
  margin-top: -0px;
  font-size: 1.1em;
}
.card .content h3 {
  font-family: "Graduate", cursive;
  margin-top: -50px;
  font-size: 1.5rem;
  position: relative;
  color: rgb(189, 189, 189);
  display: inline-block;
}
@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card {
    height: auto;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
  .card img {
    top: 70%;
    left: 50%;
    height: auto;
  }
}

/* END NEW RELEASES */

/*FOOTER*/
.foot {
  min-height: 50vh;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
footer {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.42338933864561445) 0%,
    rgba(207, 181, 59, 0.4037814955083596) 50%,
    rgba(0, 0, 0, 0.4205882181974352) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100px;
  height: 100px;
  padding: 20px 50px;
  flex-direction: column-reverse;
}
footer .social-icons,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social-icons li,
footer .menu li {
  list-style: none;
}
footer .social-icons li a,
footer .menu li a {
  text-decoration: none;
  font-family: "Oldenburg", cursive;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .menu li a {
  text-decoration: none;
  font-family: "Oldenburg", cursive;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .menu li a:hover {
  color: rgb(248, 219, 101);
}
footer .social-icons li a:hover {
  transform: translateY(-10px);
  color: rgb(0, 0, 0);
}
/*FOOTER END*/
